In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../../data/raw/fibrilacao.txt',sep=' ',index_col = 'time')
df.head()

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

       Unnamed: 0  fibrilacao_1  fibrilacao_2
time
0.000         NaN       0.05250       0.09000
0.004         NaN       0.05125       0.09625
0.008         NaN       0.04875       0.10250
0.012         NaN       0.04375       0.10125
0.016         NaN       0.03625       0.10250

In [4]:
df.reset_index(inplace = True)

In [5]:
df.head(3)

    time  Unnamed: 0  fibrilacao_1  fibrilacao_2
0  0.000         NaN       0.05250       0.09000
1  0.004         NaN       0.05125       0.09625
2  0.008         NaN       0.04875       0.10250

In [8]:
df_150hz = df.iloc[:-2:2].set_index('time')

In [ ]:
df_150hz.to_csv(../../data/raw/fibrilacao.txt)