In [1]:
import pandas as pd
import numpy as np

In [2]:
lista_fx = []
for i in range(-50000,50001):
    lista_fx.append(pow(i,2))

In [3]:
lista_x = []
for i in range(-50000,50001):
    lista_x.append(i)

In [4]:
dict_parabola = {'x': lista_x, 'fx' : lista_fx}

In [5]:
parabola = pd.DataFrame(data=dict_parabola)

In [6]:
parabola

            x          fx
0      -50000  2500000000
1      -49999  2499900001
2      -49998  2499800004
3      -49997  2499700009
4      -49996  2499600016
...       ...         ...
99996   49996  2499600016
99997   49997  2499700009
99998   49998  2499800004
99999   49999  2499900001
100000  50000  2500000000

[100001 rows x 2 columns]

In [8]:
parabola.to_csv('../../data/raw/parabola_100K.csv',index=False)