In [1]:
import pandas as pd
import numpy as np

In [2]:
lista_fx = []
for i in range(-15000,15001):
    lista_fx.append(pow(i,2))

In [3]:
lista_x = []
for i in range(-15000,15001):
    lista_x.append(i)

In [4]:
dict_parabola = {'x': lista_x, 'fx' : lista_fx}

In [5]:
parabola = pd.DataFrame(data=dict_parabola)

In [6]:
parabola

           x         fx
0     -15000  225000000
1     -14999  224970001
2     -14998  224940004
3     -14997  224910009
4     -14996  224880016
...      ...        ...
29996  14996  224880016
29997  14997  224910009
29998  14998  224940004
29999  14999  224970001
30000  15000  225000000

[30001 rows x 2 columns]

In [7]:
parabola.to_csv('../../data/raw/parabola_30K.csv',index=False)