In [1]:
import pandas as pd
import numpy as np

In [2]:
lista_fx = []
for i in range(-500,501):
    lista_fx.append(pow(i,2))

In [37]:
lista_x = []
for i in range(-500,501):
    lista_x.append(i)

In [42]:
dict_parabola = {'x': lista_x, 'fx' : lista_fx}

In [44]:
parabola = pd.DataFrame(data=dict_parabola)

In [45]:
parabola

        x      fx
0    -500  250000
1    -499  249001
2    -498  248004
3    -497  247009
4    -496  246016
...   ...     ...
996   496  246016
997   497  247009
998   498  248004
999   499  249001
1000  500  250000

[1001 rows x 2 columns]

In [46]:
parabola.to_csv('../../data/raw/parabola.csv',index=False)