In [1]:
import pandas as pd

In [4]:
pd.read_table('fibrilacao.txt',sep=';')

           0.00000000e+00 5.25000000e-02 9.00000000e-02
0          4.00000000e-03 5.12500000e-02 9.62500000e-02
1          8.00000000e-03 4.87500000e-02 1.02500000e-01
2          1.20000000e-02 4.37500000e-02 1.01250000e-01
3          1.60000000e-02 3.62500000e-02 1.02500000e-01
4          2.00000000e-02 2.87500000e-02 1.02500000e-01
...                                                 ...
2299244   9.19698000e+03 -9.50000000e-02 1.06250000e-01
2299245   9.19698400e+03 -1.01250000e-01 1.03750000e-01
2299246   9.19698800e+03 -1.02500000e-01 1.00000000e-01
2299247   9.19699200e+03 -1.01250000e-01 9.62500000e-02
2299248   9.19699600e+03 -9.87500000e-02 9.00000000e-02

[2299249 rows x 1 columns]