In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import PIL
import pathlib
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [ ]:
model = keras.models.load_model('../../models/rnc_image_classification_model')

In [4]:
df = pd.read_csv('../preprocessing/holter_list.csv',sep=',')

In [5]:
df

   Signals  Header Unaudited Audited    Signal  VF Onset
0   30.dat  30.hea    30.ari  30.atr  24:33:17  07:54:33
1   31.dat  31.hea    31.ari  31.atr  13:58:40  13:42:24
2   32.dat  32.hea    32.ari  32.atr  24:20:00  16:45:18
3   33.dat  33.hea    33.ari     NaN  24:33:00  04:46:19
4   34.dat  34.hea    34.ari  34.atr  07:05:20  06:35:44
5   35.dat  35.hea    35.ari  35.atr  24:52:00  24:34:56
6   36.dat  36.hea    36.ari  36.atr  20:21:20  18:59:01
7   37.dat  37.hea    37.ari     NaN  25:08:00  01:31:13
8   38.dat  38.hea    38.ari     NaN  18:18:25  08:01:54
9   39.dat  39.hea    39.ari     NaN  05:47:00  04:37:51
10  40.dat  40.hea    40.ari     NaN  24:53:00  00:00:00
11  41.dat  41.hea    41.ari  41.atr  03:56:00  02:59:24
12  42.dat  42.hea    42.ari     NaN  25:08:10  00:00:00
13  43.dat  43.hea    43.ari     NaN  23:07:50  15:37:11
14  44.dat  44.hea    44.ari     NaN  23:20:00  19:38:45
15  45.dat  45.hea    45.ari  45.atr  24:09:20  18:09:17
16  46.dat  46.hea    46.ari  46.atr  04:15:10  03:41:47
17  47.dat  47.hea    47.ari     NaN  23:35:50  06:13:01
18  48.dat  48.hea    48.ari     NaN  24:36:15  02:29:40
19  49.dat  49.hea    49.ari  49.atr  25:01:40  00:00:00
20  50.dat  50.hea    50.ari     NaN  23:07:38  11:45:43
21  51.dat  51.hea    51.ari  51.atr  25:08:30  22:58:23
22  52.dat  52.hea    52.ari  52.atr  07:31:05  02:32:40

In [6]:
df['filename'] = df['Signals'].str.replace(r'(\S+).dat',r'\1',regex=True) + '.txt'

In [7]:
df['signal_time'] = (df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\1',regex=True).astype(int) * 3600\
                    + df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\2',regex=True).astype(int) * 60\
                    + df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\3',regex=True).astype(int)) * 250

In [8]:
df['ventricular_fibrilation'] = (df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\1',regex=True).astype(int) * 3600\
                    + df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\2',regex=True).astype(int) * 60\
                    + df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\3',regex=True).astype(int)) * 250

In [9]:
df.drop(columns = ['Signals','Header','Unaudited','Audited','Signal','VF Onset'],inplace = True)

In [10]:
df

   filename  signal_time  ventricular_fibrilation
0    30.txt     22099250                  7118250
1    31.txt     12580000                 12336000
2    32.txt     21900000                 15079500
3    33.txt     22095000                  4294750
4    34.txt      6380000                  5936000
5    35.txt     22380000                 22124000
6    36.txt     18320000                 17085250
7    37.txt     22620000                  1368250
8    38.txt     16476250                  7228500
9    39.txt      5205000                  4167750
10   40.txt     22395000                        0
11   41.txt      3540000                  2691000
12   42.txt     22622500                        0
13   43.txt     20817500                 14057750
14   44.txt     21000000                 17681250
15   45.txt     21740000                 16339250
16   46.txt      3827500                  3326750
17   47.txt     21237500                  5595250
18   48.txt     22143750                  2245000
19   49.txt     22525000                        0
20   50.txt     20814500                 10585750
21   51.txt     22627500                 20675750
22   52.txt      6766250                  2290000

In [11]:
df['ventricular_fibrilation'] / 1250

0      5694.6
1      9868.8
2     12063.6
3      3435.8
4      4748.8
5     17699.2
6     13668.2
7      1094.6
8      5782.8
9      3334.2
10        0.0
11     2152.8
12        0.0
13    11246.2
14    14145.0
15    13071.4
16     2661.4
17     4476.2
18     1796.0
19        0.0
20     8468.6
21    16540.6
22     1832.0
Name: ventricular_fibrilation, dtype: float64

In [12]:
df['image_number'] = np.ceil(df['ventricular_fibrilation'] / 1250)

In [13]:
df['image_number'].sum()

153789.0

In [14]:
lista_filenames = list(df['filename'].unique())

In [15]:
lista_filenames.remove('30.txt')
lista_filenames.remove('31.txt')
lista_filenames.remove('32.txt')
lista_filenames.remove('33.txt')
lista_filenames.remove('34.txt')
lista_filenames.remove('35.txt')
lista_filenames.remove('36.txt')
lista_filenames.remove('37.txt')
lista_filenames.remove('40.txt')
lista_filenames.remove('42.txt')
lista_filenames.remove('49.txt')

In [16]:
lista_filenames

['38.txt',
 '39.txt',
 '41.txt',
 '43.txt',
 '44.txt',
 '45.txt',
 '46.txt',
 '47.txt',
 '48.txt',
 '50.txt',
 '51.txt',
 '52.txt']

In [17]:
df

   filename  signal_time  ventricular_fibrilation  image_number
0    30.txt     22099250                  7118250        5695.0
1    31.txt     12580000                 12336000        9869.0
2    32.txt     21900000                 15079500       12064.0
3    33.txt     22095000                  4294750        3436.0
4    34.txt      6380000                  5936000        4749.0
5    35.txt     22380000                 22124000       17700.0
6    36.txt     18320000                 17085250       13669.0
7    37.txt     22620000                  1368250        1095.0
8    38.txt     16476250                  7228500        5783.0
9    39.txt      5205000                  4167750        3335.0
10   40.txt     22395000                        0           0.0
11   41.txt      3540000                  2691000        2153.0
12   42.txt     22622500                        0           0.0
13   43.txt     20817500                 14057750       11247.0
14   44.txt     21000000                 17681250       14145.0
15   45.txt     21740000                 16339250       13072.0
16   46.txt      3827500                  3326750        2662.0
17   47.txt     21237500                  5595250        4477.0
18   48.txt     22143750                  2245000        1796.0
19   49.txt     22525000                        0           0.0
20   50.txt     20814500                 10585750        8469.0
21   51.txt     22627500                 20675750       16541.0
22   52.txt      6766250                  2290000        1832.0

In [21]:
lista_filenames

['38.txt',
 '39.txt',
 '41.txt',
 '43.txt',
 '44.txt',
 '45.txt',
 '46.txt',
 '47.txt',
 '48.txt',
 '50.txt',
 '51.txt',
 '52.txt']

In [18]:
import random

In [23]:
for filename in lista_filenames:
    
    plot = pd.read_csv(f'../../data/raw/sudden_death_patients/{filename}',sep=';')
    plot.drop(columns = 'Unnamed: 0',inplace = True)
    plot['time'] = (plot.index + 1) * 0.004
    i = 0
    total_length= int(df.loc[df['filename'] == filename,'image_number'].values[0])
    

    random_number = random.randint(0,3000)

    name = filename.replace('.txt','')
    for i in range(30):
        row_min = int((random_number + i) * 1250)
        row_max = int((random_number + i + 1) * 1250)
        time_min = int(row_min * 0.004)
        time_max = int(row_max * 0.004)
        plt.figure(figsize=[20,10])
        line_plot = sns.lineplot(data = plot.iloc[row_min:row_max],x='time',y='0')
        plt.axis('off')
        fig = line_plot.get_figure()
        #fig.savefig(f'../../data/interim/train_data/sudden_death_patients/{filename}_{time_min}s-{time_max}s.png')
        fig.savefig(f'../../data/trials/{name}/data/{filename}_{time_min}s-{time_max}s.png')
        plt.close(fig)
        if (i == int(total_length * 0.1)) or (i == int(total_length * 0.2)) or (i == int(total_length * 0.3))\
        or (i == int(total_length * 0.4)) or (i == int(total_length * 0.5)) or (i == int(total_length * 0.6))\
        or (i == int(total_length * 0.7)) or (i == int(total_length * 0.8)) or (i == int(total_length * 0.9))\
        or (i == total_length - 1):
            gc.collect()
            print('Garbage Collected')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc
import PIL
import pathlib
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

model = keras.models.load_model('../../models/rnc_image_classification_model')

df = pd.read_csv('../preprocessing/holter_list.csv',sep=',')

df

df['filename'] = df['Signals'].str.replace(r'(\S+).dat',r'\1',regex=True) + '.txt'

df['signal_time'] = (df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\1',regex=True).astype(int) * 3600\
                    + df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\2',regex=True).astype(int) * 60\
                    + df['Signal'].str.replace(r'(\S+):(\S+):(\S+)',r'\3',regex=True).astype(int)) * 250

df['ventricular_fibrilation'] = (df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\1',regex=True).astype(int) * 3600\
                    + df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\2',regex=True).astype(int) * 60\
                    + df['VF Onset'].str.replace(r'(\S+):(\S+):(\S+)',r'\3',regex=True).astype(int)) * 250

df.drop(columns = ['Signals','Header','Unaudited','Audited','Signal','VF Onset'],inplace = True)

df

df['ventricular_fibrilation'] / 1250

df['image_number'] = np.ceil(df['ventricular_fibrilation'] / 1250)

df['image_number'].sum()

lista_filenames = list(df['filename'].unique())

lista_filenames.remove('30.txt')
lista_filenames.remove('31.txt')
lista_filenames.remove('32.txt')
lista_filenames.remove('33.txt')
lista_filenames.remove('34.txt')
lista_filenames.remove('35.txt')
lista_filenames.remove('36.txt')
lista_filenames.remove('37.txt')
lista_filenames.remove('40.txt')
lista_filenames.remove('42.txt')
lista_filenames.remove('49.txt')

lista_filenames

df

lista_filenames

import random

for filename in lista_filenames:
    
    plot = pd.read_csv(f'../../data/raw/sudden_death_patients/{filename}',sep=';')
    plot.drop(columns = 'Unnamed: 0',inplace = True)
    plot['time'] = (plot.index + 1) * 0.004
    i = 0
    total_length= int(df.loc[df['filename'] == filename,'image_number'].values[0])
    

    random_number = random.randint(0,3000)

    name = filename.replace('.txt','')
    for i in range(30):
        row_min = int((random_number + i) * 1250)
        row_max = int((random_number + i + 1) * 1250)
        time_min = int(row_min * 0.004)
        time_max = int(row_max * 0.004)
        plt.figure(figsize=[20,10])
        line_plot = sns.lineplot(data = plot.iloc[row_min:row_max],x='time',y='0')
        plt.axis('off')
        fig = line_plot.get_figure()
        #fig.savefig(f'../../data/interim/train_data/sudden_death_patients/{filename}_{time_min}s-{time_max}s.png')
        fig.savefig(f'../../data/trials/{name}/data/{filename}_{time_min}s-{time_max}s.png')
        plt.close(fig)
        if (i == int(total_length * 0.1)) or (i == int(total_length * 0.2)) or (i == int(total_length * 0.3))\
        or (i == int(total_length * 0.4)) or (i == int(total_length * 0.5)) or (i == int(total_length * 0.6))\
        or (i == int(total_length * 0.7)) or (i == int(total_length * 0.8)) or (i == int(total_length * 0.9))\
        or (i == total_length - 1):
            gc.collect()
            print('Garbage Collected')